<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header class = header4articles>
<%= link_to 'Home Page', welcome_index_url%>
<%= link_to 'New article', new_article_path %>
</header>

  <body>
    <%= yield %>
  </body>
</html>
